html {
	height: 100%;
}

body {
	background: linear-gradient(#c1c4ff, #6269fc);
	min-width: 800px;
}

div.content_back {
	width: 800px;
	margin: 0 auto;
	height: 100%;
}

div.content_head {
	background-color: #FFFFFF;
	padding: 5px 0;

	margin-bottom: 2px;
	z-index: -1;
}

div.content_main {
	background-color: #FFFFFF;
	padding: 20px 0 20px 0;
	height: 100%;
}

div.footer_bar {
	display: flex;
	width: 100%;
	background-color: #4b4d66;
}

div.footer_col {
	flex: 1;
}

/*
	*
	*	Additional practical classes
	*
	*/


.fine_print {
	font-size: 10px;
	text-align: center;
	line-height: 1.0;
	color: white;
}

.center {
	text-align: center;
}

.normal {
	text-transform: none;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	
}

.nounderline {
	text-decoration: none;
}