
h1 { 

	font-family: 'Segoe UI', Arial, sans-serif;
	font-size: 24px;
	text-align: center;
	font-style: italic;
	color: #b73838;

	margin: 0;
	padding: 0;
}

h2 { 
	margin: 0 80px 0 80px;
	padding: 5px 10px;

	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 18px;
	text-align: left;

	vertical-align: middle;

	background: #edd0d0;

	border-radius: 0 10px 0 10px;

}

h3 { 
	margin: 0;

	font-family: Arial, Helvetica, sans-serif;
	text-align: center; 
	margin-bottom: 20px;

	border-bottom: 1px solid gray;
	border-radius: 18px;
	padding: 5px;
	font-style: italic;
}

h4 { 
	font-family: Arial, Helvetica, sans-serif;
}


div.bodytext {
}

p {
	margin: 10px auto;
	font-size: 12px; 
	font-family: Verdana, Geneva, sans-serif;
	text-align: justify;
	width: 60%;

	line-height: 1.6;
}

ul {
	font-size: 11px; 
	font-family: Verdana, Geneva, sans-serif;
	margin-left: -15px;

	line-height: 1.6;
}

br {
	display: block;
}

table {
	border-collapse: collapse;
}

a:visited {
}

a:hover {
	color: red;
}

/* An active link is one which the user has mouse down action over. */
a:active {

}
