html {
	height: 100%;
}

body {
	background: linear-gradient(#959abc, #959abc);
	min-width: 800px;
	
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	padding: 145px 0 30px 0;
}

img.home_picture {
	display: block; 
	margin: -10px auto 10px auto;
	width:;
}

div.content_back {
	display: flex;
	min-height: 100%;
	margin: 5px;
}

div.content_main {

	width: 800px;
	align-items: stretch;
	margin: 0 auto;

	background-color: #FFFFFF;
	padding: 20px 0 20px 0;
}


img.facebook {
	height: 20px;
	width: auto;

	padding: 0 5px;
}

.fine_print {
	font-size: 10px;
	text-align: center;
	line-height: 1.0;
	vertical-align: middle;
	color: white;
}

.center {
	text-align: center;
}

.normal {
	text-transform: none;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	
}

.nounderline {
	text-decoration: none;
}