div.top_bar {
	width: 65%;
	min-width: 840px;
	margin: -153px auto 0 auto;

	background: #2522c1;
	border-radius: 0 0 20px 20px;
	height: 145px;


}

div.top_bar_inside {
	display: flex;
	align-items: center;
	width: 98%;
	margin: 0 auto;

	background: #ffffff;
	border-radius: 0 0 10px 10px;
}

div.usam {
	flex: 1;
}

div.western {
	flex: 1;
}

img.western_logo {
	max-height: 70px;
	width: auto;
	display: block;
	margin: auto 20px;

}

img.usam_logo {
	height: 100px;
	padding: 5px;
	display: block;
	margin: auto;

	border-radius: 5px;
}


div.menu_bar {
	width: 100%;
	background: linear-gradient(#2522c1, #020075);
	border-radius: 0 0 20px 20px;

}

div.menu_bar_inside {
	display: flex;
	align-items: center;
	width: 800px;
	margin: 0 auto;

}

a.menu_box {
	display: block;
	width: 100px;
	padding: 8px;
	background: linear-gradient(#3c49fc, #111dc4);

	margin: 0 auto;
	text-decoration: none;
}

p.menu_text {
	padding: 0;
	margin: 0;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	color: white;
}

a.menu_box:hover {
	background: linear-gradient(#3c49fc, #9a9fed);
}


div.footer_bar {
	min-width: 840px;
	border-radius: 10px;
	display: flex;
	width: 65%;
	background: linear-gradient(#2522c1, #020075);

	height: 30px;
	margin: 0 auto -30px auto;
	z-index: 2;
}

div.footer_col {
	z-index: 2;
	flex: 1;
}